In [1]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='fa', tz=360)

In [2]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='fa')

In [3]:
import pandas as pd
cityname = pd.read_excel('trend.xlsx', sheet_name='Sheet2', header=None)
allcities = []
for i in range(len(cityname.values)):
    allcities.append('هتل ' + cityname.values[i][0])

In [4]:
cityname

             0
0       آبادان
1         اراک
2       اردبیل
3       ارومیه
4      ایزدشهر
5        یاسوج
6       اصفهان
7        ایلام
8          آمل
9        اهواز
10      بابلسر
11      بجنورد
12      بیرجند
13      بروجرد
14          بم
15      آستارا
16  بندر انزلی
17   بندر عباس
18       تبریز
19      تنکابن
20       تهران
21        جلفا
22      چابکسر
23      چابهار
24       چالوس
25    خرم‌آباد
26      درگهان
27       دزفول
28       رامسر
29         رشت
30      زاهدان
31         یزد
32       زنجان
33        ساری
34      سیرجان
35       سرعین
36       سمنان
37       سنندج
38      شاهرود
39       شیراز
40      شهرکرد
41      عسلویه
42       قزوین
43         قشم
44          قم
45       کاشان
46         کرج
47       کرمان
48    کرمانشاه
49         کیش
50       گرگان
51     لاهیجان
52       محلات
53   محمودآباد
54        مشهد

In [5]:
kw_list = allcities

In [6]:
allcities

['هتل آبادان',
 'هتل اراک',
 'هتل اردبیل',
 'هتل ارومیه',
 'هتل ایزدشهر',
 'هتل یاسوج',
 'هتل اصفهان',
 'هتل ایلام',
 'هتل آمل',
 'هتل اهواز',
 'هتل بابلسر',
 'هتل بجنورد',
 'هتل بیرجند',
 'هتل بروجرد',
 'هتل بم',
 'هتل آستارا',
 'هتل بندر انزلی',
 'هتل بندر عباس',
 'هتل تبریز',
 'هتل تنکابن',
 'هتل تهران',
 'هتل جلفا',
 'هتل چابکسر',
 'هتل چابهار',
 'هتل چالوس',
 'هتل خرم\u200cآباد',
 'هتل درگهان',
 'هتل دزفول',
 'هتل رامسر',
 'هتل رشت',
 'هتل زاهدان',
 'هتل یزد',
 'هتل زنجان',
 'هتل ساری',
 'هتل سیرجان',
 'هتل سرعین',
 'هتل سمنان',
 'هتل سنندج',
 'هتل شاهرود',
 'هتل شیراز',
 'هتل شهرکرد',
 'هتل عسلویه',
 'هتل قزوین',
 'هتل قشم',
 'هتل قم',
 'هتل کاشان',
 'هتل کرج',
 'هتل کرمان',
 'هتل کرمانشاه',
 'هتل کیش',
 'هتل گرگان',
 'هتل لاهیجان',
 'هتل محلات',
 'هتل محمودآباد',
 'هتل مشهد']

In [7]:
import pandas as pd      
from datetime import date
from pytrends.request import TrendReq
maindf  = pd.DataFrame()
tempdf = pd.DataFrame()
pytrend = TrendReq()
pytrend.build_payload(kw_list=[allcities[0]],timeframe='2019-01-1 2019-03-31', geo='')

maindf = pytrend.interest_over_time()
maindf = maindf.drop(columns='isPartial')

for index in range(1, len(allcities)):


    pytrend.build_payload(kw_list=[allcities[index]] ,timeframe='2019-01-1 2019-03-31', geo='')

    tempdf = pytrend.interest_over_time()
    #print(tempdf.columns)
    try:
        
        tempdf = tempdf.drop(columns='isPartial')
    except:
        pass
    #print(tempdf)
    maindf = pd.concat([maindf, tempdf], axis=1)
#print(maindf)

In [8]:
maindf

,هتل آبادان,هتل اراک,هتل اردبیل,هتل ارومیه,هتل ایزدشهر,هتل یاسوج,هتل اصفهان,هتل ایلام,هتل آمل,هتل اهواز,...,هتل کاشان,هتل کرج,هتل کرمان,هتل کرمانشاه,هتل کیش,هتل گرگان,هتل لاهیجان,هتل محلات,هتل محمودآباد,هتل مشهد
date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,0,0,54,0,0,0,7,0,0,31,...,0,0,0,0,89,0,0,0,0,66
2019-01-02,0,0,0,34,0,0,11,0,0,53,...,0,90,0,46,43,0,0,0,93,46
2019-01-03,0,0,0,0,0,0,6,0,0,26,...,0,0,0,0,29,0,0,0,0,50
2019-01-04,0,0,0,0,0,0,6,0,0,26,...,0,0,0,0,36,0,0,0,0,21
2019-01-05,0,0,0,37,0,0,18,0,0,0,...,0,0,22,0,67,0,0,0,0,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-27,0,0,0,0,0,0,49,0,0,52,...,20,0,20,45,64,0,0,0,0,74
2019-03-28,0,0,45,100,0,0,50,0,0,26,...,0,0,20,0,39,0,0,91,91,61
2019-03-29,0,0,47,0,0,0,11,51,0,0,...,21,0,21,0,44,36,100,0,0,52
2019-03-30,0,40,0,0,0,0,51,0,100,30,...,0,0,23,52,57,0,0,0,0,42
2019-03-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,48,0,36,0,0,62

In [10]:
maindf.to_excel(excel_writer='Desktop\citiesworldwide20193monthes.xlsx')